
<form >
    <fieldset>
    <label for="accountpassword">password</label><br>
    <input type="password" id="account_password" name="account_password"required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" ><br>
     <br>
    <label for="email">Email Address</label><br>
            <input type="email" id="account_email" name="account_email" pattern="[a-zA-Z0-9._%+-]+@byui\.edu$" 
            required placeholder="Please type your email "><br><br>
    <input type="submit" class ="submit" value="Submit">

<p> no account?  <a href ="/account/register"> sign up</a></p>

</fieldset>
</form> 

<script src ="/js/script.js"> </script>