<h1>Register</h1>
<p> all field is required </p>
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>
<form id ="registerForm" action="/account/register" method="post">
    <fieldset>

             <label for="firstname" >First Name</label>
            <input type="text"  name="account_firstname"  id ="account_firstname " size ="10" required><br>
            <label for="firstname" >Last Name</label>
            <input type="text"  name="account_lastname"  id ="account_lastname " size ="10" required><br>
            

            <span>Passwords must be at least 12 characters and contain at
              least 1 number, 1 capital letter and 1 special character <br></span>
            <label for="accountPassword">Password:</label> 
            <input type="password" name="account_password" id="account_Password" required ><br>
        
            

            <label for="email" >Email Address</label>
            <input type="email" id="account_email" name="account_email"  required placeholder="Please use your school email address"><br>

      <button type ="submit">Register </button>
        </fieldset>
        </form>