<h1>
    Welcome to CSE motors </h1>
    <section class ="font">
        <img src="images/vehicles/delorean.jpg" alt="deloran"  width = 1000px >    
        <div class=" color">
        <h2>DMC Delorean</h2>
        <P> 3 cup holders</P>
        <p>suplerman doors </p>
       <p> fuzzy dice!</p>
    </div>
    </section>
    

 <section>
        <h2>DMC delorean Reviews</h2><br>
        <li>" so fast it is almost like travelling in time (4/5) "</li><br>
        <li>" Colest ride in the road. " (4/5)</li><br>
        <li>" I'm feeling MCFly  "</li><br>
        <li>" the most futuristic ride our days (4.45/5) "</li><br>
        <li>"80's livin and love it" </li>
        
</section>
          
   
       <section>
<h2>Delorean Upgrades</h2>

        <div class = "image">
           
            
          <img src="images/upgrades/flame.jpg " alt ="flame dacals">
      
       
        <img src="images/upgrades/bumper_sticker.jpg " alt ="bumper sctiker" >

  
        <img src="images/upgrades/flux-cap.png " alt ="flux capacitor">
    

        <img src="images/upgrades/hub-cap.jpg " alt ="hub-cap">
    
    </section>

  
