<h1> Management</h1>

<a title =" click to add" href ="/inventory/add-classification"> add new classification </a><br>
<a title =" click to add" href ="/inventory/add-inventory"> add new Vehicule </a>
